In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import os

In [20]:
##   Import Data set 
url = r'C:\Python_repository\PERSONAL\coder_house\Dating_app_behavior_coderhouse\dating_app_behavior_dataset.csv'
df = pd.read_csv(url)
df.head(10)

,gender,sexual_orientation,location_type,income_bracket,education_level,interest_tags,app_usage_time_min,app_usage_time_label,swipe_right_ratio,swipe_right_label,likes_received,mutual_matches,profile_pics_count,bio_length,message_sent_count,emoji_usage_rate,last_active_hour,swipe_time_of_day,match_outcome
0,Prefer Not to Say,Gay,Urban,High,Bachelor’s,"Fitness, Politics, Traveling",52,Moderate,0.60,Optimistic,173,23,4,44,75,0.36,13,Early Morning,Mutual Match
1,Male,Bisexual,Suburban,Upper-Middle,No Formal Education,"Languages, Fashion, Parenting",279,Extreme User,0.56,Optimistic,107,7,3,301,35,0.42,0,Morning,Chat Ignored
2,Non-binary,Pansexual,Suburban,Low,Master’s,"Movies, Reading, DIY",49,Moderate,0.41,Optimistic,91,27,2,309,33,0.41,1,After Midnight,Date Happened
3,Genderfluid,Gay,Metro,Very Low,Postdoc,"Coding, Podcasts, History",185,Extreme User,0.32,Balanced,147,6,5,35,5,0.07,21,Morning,No Action
4,Male,Bisexual,Urban,Middle,Bachelor’s,"Clubbing, Podcasts, Cars",83,High,0.32,Balanced,94,11,1,343,34,0.11,22,After Midnight,One-sided Like
5,Genderfluid,Lesbian,Small Town,High,Associate’s,"Anime, Clubbing, DIY",138,Addicted,0.62,Optimistic,163,22,4,112,87,0.18,10,Early Morning,Blocked
6,Male,Asexual,Metro,Lower-Middle,High School,"Tech, Makeup, Parenting",161,Addicted,0.38,Balanced,54,20,3,202,82,0.32,14,Morning,No Action
7,Female,Bisexual,Remote Area,Upper-Middle,Postdoc,"Spirituality, Sneaker Culture, Meditation",219,Extreme User,0.47,Optimistic,149,12,2,112,17,0.54,16,Evening,One-sided Like
8,Male,Gay,Suburban,High,Diploma,"MMA, Board Games, Startups",32,Moderate,0.23,Balanced,98,12,4,239,67,0.27,8,Late Night,Mutual Match
9,Prefer Not to Say,Gay,Remote Area,Upper-Middle,Bachelor’s,"Social Activism, Astrology, Photography",150,Addicted,0.68,Optimistic,111,5,3,1,92,0.27,23,Afternoon,Relationship Formed

In [17]:
df['sexual_orientation'].value_counts()

sexual_orientation
Straight      6326
Lesbian       6315
Demisexual    6301
Queer         6288
Asexual       6254
Pansexual     6237
Bisexual      6158
Gay           6121
Name: count, dtype: int64

In [ ]:
# Check the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                50000 non-null  object
 1   sexual_orientation    50000 non-null  object
 2   location_type         50000 non-null  object
 3   income_bracket        50000 non-null  object
 4   education_level       50000 non-null  object
 5   interest_tags         50000 non-null  object
 6   app_usage_time_min    50000 non-null  int64
 7   app_usage_time_label  50000 non-null  object
 8   swipe_right_ratio     50000 non-null  float64
 9   swipe_right_label     50000 non-null  object
 10  likes_received        50000 non-null  int64
 11  mutual_matches        50000 non-null  int64
 12  profile_pics_count    50000 non-null  int64
 13  bio_length            50000 non-null  int64
 14  message_sent_count    50000 non-null  int64
 15  emoji_usage_rate      50000 non-null  float64
 16  last_active_hour      50000 non-null  int64
 17  swipe_time_of_day     50000 non-null  object
 18  match_outcome         50000 non-null  object
dtypes: float64(2), int64(7), object(10)
memory usage: 7.2+ MB

In [21]:
# Check data distribution
df.describe().round(0)

,app_usage_time_min,swipe_right_ratio,likes_received,mutual_matches,profile_pics_count,bio_length,message_sent_count,emoji_usage_rate,last_active_hour
count,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0
mean,150.0,1.0,100.0,14.0,3.0,250.0,50.0,0.0,12.0
std,87.0,0.0,58.0,9.0,2.0,145.0,29.0,0.0,7.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,74.0,0.0,49.0,6.0,1.0,125.0,25.0,0.0,5.0
50%,150.0,0.0,100.0,13.0,3.0,250.0,50.0,0.0,12.0
75%,225.0,1.0,150.0,22.0,5.0,376.0,75.0,0.0,18.0
max,300.0,1.0,200.0,30.0,6.0,500.0,100.0,1.0,23.0

In [18]:
# Ceck null values
pd.isnull(df).sum()

gender                  0
sexual_orientation      0
location_type           0
income_bracket          0
education_level         0
interest_tags           0
app_usage_time_min      0
app_usage_time_label    0
swipe_right_ratio       0
swipe_right_label       0
likes_received          0
mutual_matches          0
profile_pics_count      0
bio_length              0
message_sent_count      0
emoji_usage_rate        0
last_active_hour        0
swipe_time_of_day       0
match_outcome           0
dtype: int64

In [ ]:
## High education level heteroxesual women do not have a cherry-picking behaviour (swipe_right_ratio)

In [ ]:
df['education_level'].unique()

array(['Bachelor’s', 'No Formal Education', 'Master’s', 'Postdoc',
       'Associate’s', 'High School', 'Diploma', 'PhD', 'MBA'],
      dtype=object)

In [47]:
# Add column with education level in numeric format
df['education_level_numeric'] = df['education_level'].map({'Bachelor’s':4, 'No Formal Education':0, 'Master’s':5, 'Postdoc':8,
       'Associate’s':2, 'High School':1, 'Diploma':3, 'PhD':7, 'MBA':6})

df.groupby('education_level').agg(
    {'education_level_numeric': 'max'}
)

                     education_level_numeric
education_level
Associate’s                                2
Bachelor’s                                 4
Diploma                                    3
High School                                1
MBA                                        6
Master’s                                   5
No Formal Education                        0
PhD                                        7
Postdoc                                    8

In [34]:
# Create a mapping using a for loop
education_mapping = {level: i for i, level in enumerate(df['education_level'].unique())}

# Map the education_level column to numeric values
df['education_level_numeric'] = df['education_level'].map(education_mapping)
df[['education_level', 'education_level_numeric']].head()

       education_level  education_level_numeric
0           Bachelor’s                        0
1  No Formal Education                        1
2             Master’s                        2
3              Postdoc                        3
4           Bachelor’s                        0

In [45]:
df.groupby('education_level').agg(
    {'education_level_numeric': 'max'}
)

                     education_level_numeric
education_level
Associate’s                                4
Bachelor’s                                 0
Diploma                                    6
High School                                5
MBA                                        8
Master’s                                   2
No Formal Education                        1
PhD                                        7
Postdoc                                    3

In [ ]:
# Filter by gender and sexual_orientation
filtered_df = df.loc[(df['gender'] == 'Female') & (df['sexual_orientation'] == 'Straight')]
filtered_df.head()

,gender,sexual_orientation,location_type,income_bracket,education_level,interest_tags,app_usage_time_min,app_usage_time_label,swipe_right_ratio,swipe_right_label,likes_received,mutual_matches,profile_pics_count,bio_length,message_sent_count,emoji_usage_rate,last_active_hour,swipe_time_of_day,match_outcome
12,Female,Lesbian,Remote Area,Middle,Postdoc,"Anime, Spirituality, Stand-up Comedy",216,Extreme User,0.71,Swipe Maniac,54,29,4,386,93,0.43,22,Morning,No Action
28,Female,Lesbian,Suburban,Middle,No Formal Education,"Pets, Sneaker Culture, Astrology",210,Extreme User,0.78,Swipe Maniac,171,27,5,415,31,0.13,8,Morning,One-sided Like
37,Female,Lesbian,Remote Area,Upper-Middle,PhD,"Gaming, Languages, Fitness",62,High,0.31,Balanced,116,4,6,237,85,0.54,16,Late Night,Catfished
61,Female,Lesbian,Rural,Very High,Diploma,"Cooking, Gaming, Anime",157,Addicted,0.97,Swipe Maniac,152,23,6,291,36,0.11,14,Early Morning,Date Happened
192,Female,Lesbian,Remote Area,Middle,Diploma,"Traveling, Art, Memes",137,Addicted,0.74,Swipe Maniac,126,4,0,85,55,0.41,8,Evening,No Action